html, body {
    height: 100;
    margin: 0px;
}

div{
    box-sizing: border-box;
}

#mainButton {
    width: 256px;
    position: absolute;
    left: -128px;
    top: -128px;
    border-radius: 64px;
    transition: transform 0.2s;
    touch-action: manipulation;
}

#mainButton:hover {
    transform: scale(1.05);
}

#mainButton:active {
    transform: scale(0.9);
}

.upgrade{
    position: relative;
    height: 128px;
}

.upgrade > img{
    width: 128px;
    margin: 0px;
    padding: 0px;
}

.upgrade > .upgradeDetails{
    position: absolute;
    left: 128px;
    top: 0px;
    padding: 10px;
}

.upgrade > .upgradeDetails > p{
    margin: 0px;
    padding: 0px;
}

.upgrade > button{
    position: absolute;
    right: 0px;
    width: 128px;
    height: 128px;
}