html, body {
    height: 100;
    margin: 0px;
}

#mainButton {
    width: 256px;
    position: absolute;
    left: -128px;
    top: -128px;
    border-radius: 64px;
    transition: transform 0.2s;
}

#mainButton:hover {
    transform: scale(1.05);
}

#mainButton:active {
    transform: scale(0.9);
}