html, body {
    height: 100;
    margin: 0px;
}

div{
    box-sizing: border-box;
    user-select: none;
}

#mainButton {
    width: 256px;
    position: absolute;
    left: -128px;
    top: -128px;
    border-radius: 64px;
    transition: scale 0.2s;
    touch-action: manipulation;
}

#mainButton:hover {
    scale: 1.05;
}

#mainButton:active {
    scale: 0.9;
}

#settingsGear{
    pointer-events: none;
    display: block;
    transition: rotate 0.2s;
}

#settingsGear.opened{
    rotate: 270deg;
}

#settingsBar{
    position: absolute;
    left: 72px;
    bottom: 80px;
    width: 0px;
    height: 64px;
    background-color: #ff6ff2;
    transition: width 0.5s;
    overflow: hidden;
}

#settingsBar.opened{
    width: 360px;
}

#musicToggle path{
	transition: stroke 0s, d 0.3s;
}

#musicToggle.enabled path{
	transition: stroke 0s 0.3s, d 0.3s;
    d: path("M 70 10 L 70 10");
	stroke: transparent;
}

#volumeControls{
    position: absolute;
    left: 96px;
    bottom: 152px;
    width: 32px;
    height: 0px;
    background-color: #ff6ff2;
    text-align: center;
    overflow: hidden;
}

#volumeControls.opened{
    height: auto;
}

.themeToggle{
    transition: opacity 0s 0.15s, rotate 0.3s;
    opacity: 100%;
    position: absolute;
}

.themeToggle.invisible{

    rotate: 360deg;
    opacity: 0%;
}

.upgrade{
    position: relative;
    height: 128px;
}

.upgrade > img{
    width: 128px;
    margin: 0px;
    padding: 0px;
}

.upgrade.player {
	background-color: #ff6ff2;
}

.upgrade.aspect {
	background-color: #104ea2;
}

.upgradeDetails{
    position: absolute;
    left: 128px;
    top: 0px;
    padding: 10px;
}

.upgradeDetails > p{
    margin: 0px;
    padding: 0px;
}

.upgrade > button{
    position: absolute;
    right: 0px;
    width: 128px;
    height: 128px;
}

.upgrade.player > button {
	background-color: #ff6ff2;
}

.upgrade.aspect > button {
	background-color: #104ea2;
}